[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Immigrate"]
	path = Immigrate
	url = https://github.com/ruzhangzhao/immigrate
[submodule "mixhvg"]
	path = mixhvg
	url = https://github.com/ruzhangzhao/mixhvg
